<h1>Welcome to Invstr!</h1>
<p class="lead">Social Investing Simplified<br> Follow the leaders or share investing ideas.</p>

<div class="row">
  <%= link_to "See Plans", new_user_registration_path, class: "col-2 btn btn-primary border-right" %>
  <%= link_to "Sign up for free", new_user_registration_path, class: "col-2 btn btn-primary" %>
</div>